@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@theme {
  --default-font-family: "Urbanist", sans-serif;
  --font-rubik: "Rubik", sans-serif;

  --color-extra-pink: #fbf5f9;
  --color-primary-1000: #4b1eaf;
  --color-primary-950: #6736d2;
  --color-primary-900: #7346d5;
  --color-primary-800: #7f56d9;
  --color-primary-700: #926ddf;
  --color-primary-600: #a386e4;
  --color-primary-500: #b69ee9;
  --color-primary-400: #c8b6ef;
  --color-primary-300: #d4c6f2;
  --color-primary-200: #e0d6f6;
  --color-primary-100: #ece6f9;
  --color-primary-50: #f8f6fd;
  --color-secondary-900: #fec30e;
  --color-secondary-800: #fec822;
  --color-secondary-700: #fed249;
  --color-secondary-600: #fedb70;
  --color-secondary-500: #fee084;
  --color-secondary-400: #ffeaab;
  --color-secondary-300: #ffefbe;
  --color-secondary-200: #fff4d2;
  --color-secondary-100: #fff9e5;
  --color-secondary-50: #fffdf9;
  --color-dark-900: #0e0d11;
  --color-dark-800: #15151e;
  --color-dark-700: #191922;
  --color-dark-600: #1c1b2a;
  --color-dark-500: #1d1d29;
  --color-dark-400: #242432;
  --color-dark-300: #272736;
  --color-dark-200: #2a2a3b;
  --color-dark-100: #34324a;
  --color-dark-50: #3a3a4d;
  --color-dark-10: #c9c9d6;
  --color-gray-900: #070707;
  --color-gray-800: #242424;
  --color-gray-700: #414141;
  --color-gray-600: #666666;
  --color-gray-500: #7c7c7c;
  --color-gray-400: #909090;
  --color-gray-300: #a4a4a4;
  --color-gray-200: #b7b7b7;
  --color-gray-100: #cbcbcb;
  --color-gray-50: #efefef;
}

html {
  @apply bg-extra-pink dark:bg-dark-800;
}

@layer utilities {
  .container {
    width: 100%;
    margin-inline: auto;
    padding-inline: 1rem;
  }

  @media (min-width: 375px) {
    .container {
      max-width: 100%;
    }
  }

  @media (min-width: 520px) {
    .container {
      max-width: 498px;
    }
  }

  @media (min-width: 768px) {
    .container {
      max-width: 100%;
      padding-inline: 2rem;
    }
  }

  @media (min-width: 1280px) {
    .container {
      max-width: 1140px;
      padding-inline: 0;
    }
  }

  @media (min-width: 1536px) {
    .container {
      max-width: 1140px;
      padding-inline: 0;
    }
  }
}
